.table-heading {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.align-center {
    align-items: center;
}

.commn-btn {
    background: none;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}